<li>
  <div class="message <%= direct_message.user == current_user ? "right" : "" %>">
    <%= image_tag direct_message.user.avatar_url, class: "avatar" %>
    <div class="message-content"><%= direct_message.body %></div>
  </div>
</li>
