<div class="flater-bubble">
	<div id="bubble-message">
		<%= raw(bot_message) %>
	</div>
	<div id="bubble-nav" class="d-flex justify-content-between mt-3">
		<%= link_to '‹ Previous tip', '#', class: 'btn btn-sm btn-outline-primary' %>
		<%= link_to 'Next tip ›', '#', class: 'btn btn-sm btn-outline-primary' %>
	</div>
</div>
<div class="flater-bot"></div>
