<div class="flater-bubble">
	<%= raw(bot_message) %>
	<p class="d-flex justify-content-between mt-3">
		<%= link_to '‹ Previous tip', '#', class: 'btn btn-sm btn-outline-primary' %>
		<%= link_to 'Next tip ›', '#', class: 'btn btn-sm btn-outline-primary' %>
	</p>
</div>
<div class="flater-bot"></div>
