<footer class="page-footer font-small blue">
	<div class="text-center pt-3">
	<small>About us <span class="text-primary">·</span> Our services <span class="text-primary">·</span> We hire! <span class="text-primary">·</span> Contact us <span class="text-primary">·</span> FAQ <span class="text-primary">·</span> Legal notices</small>
	</div>
	<div class="footer-copyright text-center py-3">
		2019 &copy; <strong>Flater</strong> <span class="text-primary">·</span> Select, Rent & Chill!
	</div>
</footer>

