.card-flats {
	@extend .card;

	position: absolute;
	top: 12vh;
	left: 2vh;
	z-index: 10;
	text-align: left;
	width: calc(480px - 4vh);
	background: rgba($light-gray,.95);

	h1 {
		font-size: 1.8rem;

		.fas {
			@extend .text-muted;
		}
	}

	.list-group-item {
		padding: .75rem 0;
		background: transparent;

		.actions {
			white-space: nowrap;
		}
	}
}