.flat-container {
display: flex;
justify-content: center;

}

.card-flats {
	@extend .card;

	// position: absolute;
	// top: 12vh;
	// left: 2vh;
	z-index: 10;
	text-align: left;
	width: 850px;
	background: rgba($light-gray,.95);

	h1 {
		font-size: 1.8rem;

		.fas {
			@extend .text-muted;
		}
	}


	.list-group-item {
		padding: .75rem .25rem;
		background: transparent;
		white-space: nowrap;

		.actions {
			white-space: nowrap;
		}
	}

	.list-group-item:hover {
		background-color: $white-alt;
		cursor: pointer;
	}
}

.bubble-flat {
	padding: 0;
	width: 240px;

	.flat-img {
    background-position: 50% 50%;
    background-repeat: no-repeat;
		background-size: cover;
		height: 100px;
		padding: .5rem;
		font-size: 1rem;

		.badge-light {
			background: transparent;
			color: $white-alt;
		}
	}

	.flat-info {
		padding: 1rem;
		font-size: 1rem;

		span[id^="flat-"] {
			display: block;
			padding-left: 1.75rem;

			.fas {
				position: absolute;
				margin-top: .125rem;
				left: .75rem;
				min-width: 24px;
				text-align: center;
			}

			span {
				display: inline;
			}
		}
	}
}
