#visiting, #ok_for_visit, #to_improve {
	#candidate-documents .fas.text-danger {
		@extend .text-danger;
	}
}

#visiting {
	h3, #candidate-documents .fas, .new-message {
		@extend .text-info;
	}
}
#ok_for_visit {
	h3, #candidate-documents .fas, .new-message {
		@extend .text-primary;
	}
}
#to_improve {
	h3, #candidate-documents .fas, .new-message {
		@extend .text-warning;
	}
}
#not_selected {
	h3 {
		@extend .text-danger;
	}
}

.card-dashboard {
	h3 {
		font-weight: 900;
		font-size: 1.75rem;
	}

	h4 {
		font-size: 1.25rem;
	}
}

ul {
	li * {
		transition: $transition;
	}
	.dossier-id {
		font-size: .75rem;
		color: rgba($night, .25);
		margin-bottom: .25rem;
	}

	.new-message {
		text-decoration: blink;
		font-size: 1rem;
	}

	.drag-and-drop {
		padding: 0 0 0 1em;
		font-size: 1.5rem;
		color: rgba($night, .25);
		cursor: grab;
	}

	.candidate-documents {
		a {
			cursor: pointer;
		}

		a:hover {
			color: $primary;
		}
	}
}

ul.list-group.not_selected {
	* {
		color: rgba($night, .25);
	}
	li {
		background: rgba($night, .125);

		img {
			filter: grayscale(100%);
			opacity: .5;
		}

		.text-primary, .text-danger {
			color: rgba($night, .5) !important;
		}
	}
}
