<div class="bubble-flat">
	<div class="flat-img">
		<%= raw(badge('Details', 'light', 'eye', flat_path(flat.id))) %>
	</div>
	<div class="flat-info">
		<%# TODO Add context to implement short_text(flat.address, 24) %>
		<%= render 'flats/flat-description', flat: flat %>
	</div>
</div>
