<div class="bubble-flat">
	<div class="flat-img" style="background-image: url(<%= image_path "flats/flat#{rand(1..18)}.jpg" %>)">
		<%= raw(badge('Details', 'light', 'eye', flat_path(flat.id))) %>
	</div>
	<div class="flat-info">
		<%# TODO Add context to implement short_text(flat.address, 24) %>
		<%= render 'flats/flat-description', flat: flat %>
	</div>
</div>
