<div class=flat-card >

<strong>Adress:</strong> <%= flat.address %><br>
<strong>Rooms:</strong> <%= flat.nb_rooms %><br>
<strong>Furnished:</strong> <%= flat.furnished %><br>
<strong>Owner:</strong> <%= flat.owner.first_name + " " + flat.owner.last_name %><br>

</div>
