<section id="description">
  <h2 class="text-center text-primary">Select, rent & chill!</h2>
  <p class="lead text-center"><strong>Flater<sup>&trade;</sup></strong> is a real estate platform for both flat owners and tenants, designed to avoid unnecessary tasks and focus on what really matters.

   <!-- est un espace de gestion locative moderne conçu pour limiter les tâches inutiles et vous permettre de vous concentrer sur ce qui compte vraiment.</p> -->

  <div class="container py-5">
  <div class="row">

    <div class="col-12 col-lg-6">
      <img
        src="assets/hire.svg"
        width= 650px;
        height= 250px;
      />
    </div>

    <div class="col-12 col-lg-6 py-5">
      <h3 class="text-primary">The best profile in few clicks</h3>
      <p>
        Flater gather all applications in one place and sort them according to your criteria. It is then very simple to select only the best candidates.
      <!-- Flater rassemble toutes les candidatures à un seul et même endroit. Il est facile de les trier selon vos critères et de retenir uniquement les meilleurs profils. -->
      </p>
    </div>

  </div>
</div>

  <div class="container py-4">
  <div class="row">

    <div class="col-12 col-lg-5 py-5">
      <h3 class="text-primary">Communicate rapidly and effectively</h3>
      <p>
      Flater integrates an interface to easily chat with all your potential tenants. You can send pre-filled messages to a groups of candidates to oragnize visits or to ask for complementary documents. No more time wasted in calls and e-mails.
      </p>
    </div>

    <div class="col-12 col-lg-6">
      <img
        src="assets/communication.svg"
        width= 650px;
        height= 250px;
      />
    </div>

  </div>
</div>

<div class="container py-4">
  <div class="row">

    <div class="col-12 col-lg-6">
      <img
        src="assets/visit1.svg"
        width= 650px;
        height= 250px;
      />
    </div>

    <div class="col-12 col-lg-6 py-5">
      <h3 class="text-primary">Make great visits</h3>
      <p>

       Settle your time slot for the visit and be aware of how many people are expected to come. Reminders are then automatically sent to candidates to minimize no-show.

      <!-- Flater est axé sur l’optimisation des visites. Mettez en place vos créneaux et soyez toujours au courant du nombre de candidats prêt à se déplacer. -->
      </p>
    </div>

  </div>
</div>








