<section id="description">
	<h2 class="text-center text-primary">Select, rent & chill!</h2>
	<p class="lead text-center"><strong>Flater<sup>&trade;</sup></strong> is a real estate platform for both flat owners and tenants, designed to avoid unnecessary tasks and focus on what really matters.

	<div class="container py-5">
		<div class="row">

			<div class="col-12 col-lg-6">
				<%= image_tag 'hire.svg', style:"width: 650px; height: 250px;" %>
			</div>

			<div class="col-12 col-lg-6 py-5">
				<h3 class="text-primary">The best profile in few clicks</h3>
				<p>
				Flater gather all applications in one place and sorts them according to your criteria. It is then very simple to select only the best candidates.
				</p>
			</div>

		</div>
	</div>

	<div class="container py-4">
		<div class="row">

			<div class="col-12 col-lg-5 py-5">
				<h3 class="text-primary">Communicate quickly and effectively</h3>
				<p>
				Flater integrate an interface to communicate easily with all your potential tenants. You can send pre-recorded grouped messages to schedule visits. No more wasted time.
				</p>
			</div>

			<div class="col-12 col-lg-6">
				<%= image_tag 'communication.svg', style:"width: 650px; height: 250px;" %>
			</div>

		</div>
	</div>

	<div class="container py-4">
		<div class="row">

			<div class="col-12 col-lg-6">
			<%= image_tag 'visit1.svg', style:"width: 650px; height: 250px;" %>
			</div>

			<div class="col-12 col-lg-6 py-5">
			<h3 class="text-primary">Schedule easily grouped visits</h3>
			<p>
			Flater allows you to set your time slot for visits and share it with the best candidates. They are then automatically reminded one day and an hour before.
			</p>
			</div>
		</div>

	</div>

</section>
