.bs-canvas-overlay {
	opacity: 0;
	z-index: -1;
}

.bs-canvas-overlay.show {
	opacity: 0.85;
	z-index: 1100;
}

.bs-canvas-overlay, .bs-canvas {
	transition: $transition;
}

.bs-canvas {
	top: 0;
	z-index: 1110;
	overflow-x: hidden;
	overflow-y: auto;
	width: 330px;
	background: rgba($light-gray, .95);

	.dropdown-item {
		.fas.text-primary {
			@extend .text-primary;
		}
		
		.fas {
			@extend .text-muted;
			@extend .mr-1;
			width: 20px;
		}
	}
}

.bs-canvas-left {
	left: 0;
	margin-left: -330px;
}

.bs-canvas-right {
	right: 0;
	margin-right: -330px;
}

.bs-canvas-header {
	@extend .d-flex;
	@extend .justify-content-between;
	align-items: center;

	* {
		margin: 0;
		transition: $transition;
	}
	.fas {
		@extend .text-muted;
	}
}