.breadcrumb {
	background: none;
	padding: .75rem 0;

	a {
		color: $secondary;
		text-decoration: none;
		transition: $transition;
	}

	li {
		display: flex;
		align-items: center;

		.badge-custom {
			margin-left: 1rem;
		}
	}

	li:hover a {
		color: $primary;
	}

	li:after {
		content: '›';
		padding: 0 1rem;
		color: $primary;
	}

	li:last-of-type:after {
		content: '';
	}
}