.card-dashboard {
	border: none;
	box-shadow: none;
	text-align: left;
	padding: 0 1rem 1rem 0;

	.card-content {
		background: rgba($white, .5);
    border: 1px solid rgba($night,.1);
    border-radius: 4px;
		padding: 1rem;

		a {
			text-decoration: none;
		}
		
		a h2 {
			font-size: 1.5rem;
			color: $gray;
			transition: $transition;
		}

		a h2:hover {
			color: $primary;
		}

		a h2:after {
			content: "›";
			position: absolute;
			right: 2rem;
			z-index: 1;
			color: $primary
		}

		h3 {
			font-size: 1.25rem;
			color: $light-gray
		}
	}
}
