@keyframes fadein {
  0%, 60% {
		opacity: 0;
  }

  100% {
		opacity: 1;
  }
}

.flater-bubble {
	background: $white;
	border-radius: 16px;
	padding: 1rem;
	min-height: 300px;
	display: grid;
	line-height: 1.8;
	animation: 3s fadein;

	#bubble-message {
		min-height: 250px;

		.action {
			animation: 6s fadein;
		}
	}
}

.flater-bot:before {
	content: '';
	width: 15px;
	height: 15px;
	border-left: 15px solid transparent;
	border-right: 0px solid transparent;
	border-top: 15px solid $white;
	margin-left: 80%;
	animation: 3s fadein;
}

.flater-bot {
	background: asset-url('flater-bot.svg') 100% 100% no-repeat;
	background-size: contain;
	height: 64px;
	margin-top: 15px;
	animation: 1.5s fadein;
}