form {

	label {
		color: rgba($night, .6);
		font-size: 1rem;
		margin: 0;

		abbr[title="required"] {
			color: $primary;
		}
	}

	.form-control {
		border-radius: 0;
		border: none;
		border-bottom: 1px solid rgba($night, .2);
		background: rgba($light-gray, .2);
		transition: $transition;
	}

	.form-control:focus {
		border: none;
		border-bottom: 1px solid $primary;
		background: rgba($light-gray, .5);
		box-shadow: none;

	}

	/* Animate labels - NOK
	label {
		position: relative;
		top: 2.5em;
		left: .5em;
		transition: all .5s ease-out;
	}
	input:focus + label {
		top: 0;
		left: 0;
		color: red;
	}
	*/
}

form {
	width:70%,
	
}
